body {
    margin: 0;
    padding: 0;
    padding-top: 55px;
    font-family: Arial, sans-serif;
}

.bg-navbar {
    background-color: #fff;
}

.bg-black {
    background-color: black;
}

text-white {
    color: #fff;
}

.navbar {
    height: 9rem;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#content {
    margin-top: 5rem;
}

#first-section {

}

footer {
    background-color: black;
    font-size: medium;
    padding: 30px;
}

footer .right {
    text-align: right;
}

footer .left {
    text-align: left;
}

.footer-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.link-footer {
    font-size: x-small;
}

a.link-footer:link {
    font-size: x-small;
    text-decoration: none;
}

a.link-footer:hover {
    text-decoration: underline;
    color: #fff;
}
