@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    padding-top: 55px;
    font-family: 'Nunito Sans', sans-serif;
}

.bg-navbar {
    background-color: #fff;
}

.bg-black {
    background-color: black;
    transition: filter 0.5s ease;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.about {
    border: none;
    background-color: gray;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.about:hover {
    background-color: #555;
    margin-top: 0;
}

.bg-gray {
    background-color: gray;
    transition: filter 0.5s ease;
}

.containter-fluid1:hover {
    filter: brightness(1.5);
}

.containter-fluid:hover {
    filter: brightness(1.2);
}

#theme{
    font-size: 2rem
}

text-white {
    color: #fff;
}

.navbar {
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

#content {
    margin-top: 1.8rem;
}

footer {
    background-color: black;
    font-size: medium;
    padding: 30px;
}

footer .right {
    text-align: right;
}

footer .left {
    text-align: left;
}

.footer-inline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.link-footer {
    font-size: x-small;
}

a.link-footer:link {
    font-size: x-small;
    text-decoration: none;
}

a.link-footer:hover {
    text-decoration: underline;
    color: #fff;
}

#text-introdution {
    margin-left: 1rem;
    text-align: justify;
}

#text-introdution2 {
    margin-left: 1rem;
    text-align: justify;
}

#img-banner {
    width: 18rem;
}

#img-container {
    text-align: center;
}

#img-banner2 {
    width: 20rem;
    float: left;
    margin-right: 1rem;
}