body {
    margin: 0;
    padding: 0;
    padding-top: 56px;
    font-family: Arial, sans-serif;
}

.bg-navbar {
    background-color: black;
}

.bg-black {
    background-color: black;
}

text-white {
    color: #fff;
}

.navbar {
    height: 10rem;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#content {
    margin-top: 6rem;
}

#first-section {
    
}